body{
    background-color: rgb(255, 204, 108);
}
.container{
    text-align: center;
    background-color: lightgoldenrodyellow;
    border: 2px solid lightpink;
}
.section{
    width: 80%;
}
.section h1{color: purple;
}
.section img#right{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.section img#left{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.category{
    float: right;
    width:17%;
    background-color: greenyellow;
    padding-top: 10px;
    margin: 10px;
    border: 2px solid lightpink;
}
.category h4{
    color: plum;
}
.category p{
    color: plum;
}