body{ font-family: helvetica ;}
h1{background-color: orange;
    color: white;
    font-weight: lighter;
   
    padding: 0.3em 6px;    
    text-shadow: 2px 2px 2px grey;
    border-bottom: 2px solid blue;
    vertical-align: top;
}
#linkbox{
    width: 20%;
    padding: 0.1em 6px;
    background-color: white;
    border: 1px solid blue;
    margin-bottom: 20px;
}
#linkbox a{
    display: block;
    color: black;
    text-decoration: none;
}
#linkbox a:hover{
    color: blue;
    text-decoration: underline;
}
#linkbox a:active{
    color: red;
}
#h{
    background-color: blue;
    color: white;
    text-align: center;
}

#directory{
    color: blue;
    padding: 0.3em 6px;
}

#staff{
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    border-collapse: collapse;
    border:1px solid blue;
}

#staff td, #customer th{
    border:1px solid blue; 
    padding:3px 7px 2px 7px; 
    background-color: white;
    border: 1px solid black;
}

#staff th  
{ 
font-size:1.1em; 
text-align:center; 
padding-top:5px; 
padding-bottom:4px; 
background-color:orange; 
color:#ffffff;
border: 1px solid white; }

hr{
    border: 1px solid blue;
}

#main{font-weight: bold;
    color: blue;}